Java/ClienteWService/src/conf/xml-resources/web-service-references/wsoperaciones/wsdl/localhost_8080/ServicioWebSoap/wsoperaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="wsoperaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ServicioWebSoap/wsoperaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="Loggin">
<part name="parameters" element="tns:Loggin"/>
</message>
<message name="LogginResponse">
<part name="parameters" element="tns:LogginResponse"/>
</message>
<message name="ProcesarPago">
<part name="parameters" element="tns:ProcesarPago"/>
</message>
<message name="ProcesarPagoResponse">
<part name="parameters" element="tns:ProcesarPagoResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="wsoperaciones">
<operation name="Loggin">
<input wsam:Action="http://ws/wsoperaciones/LogginRequest" message="tns:Loggin"/>
<output wsam:Action="http://ws/wsoperaciones/LogginResponse" message="tns:LogginResponse"/>
</operation>
<operation name="ProcesarPago">
<input wsam:Action="http://ws/wsoperaciones/ProcesarPagoRequest" message="tns:ProcesarPago"/>
<output wsam:Action="http://ws/wsoperaciones/ProcesarPagoResponse" message="tns:ProcesarPagoResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/wsoperaciones/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/wsoperaciones/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="wsoperacionesPortBinding" type="tns:wsoperaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Loggin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProcesarPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsoperaciones">
<port name="wsoperacionesPort" binding="tns:wsoperacionesPortBinding">
<soap:address location="http://localhost:8080/ServicioWebSoap/wsoperaciones"/>
</port>
</service>
</definitions>