C#/ClienteWS/ClienteWS/Connected Services/ServiceClienteWS/wsoperaciones.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Loggin" type="tns:Loggin" />
  <xs:element name="LogginResponse" type="tns:LogginResponse" />
  <xs:element name="ProcesarPago" type="tns:ProcesarPago" />
  <xs:element name="ProcesarPagoResponse" type="tns:ProcesarPagoResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Loggin">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LogginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProcesarPago">
    <xs:sequence>
      <xs:element name="total_pagar" type="xs:int" />
      <xs:element name="total_pago" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProcesarPagoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>