C#/ClienteWS/ClienteWS/Connected Services/ServiceClienteWS/wsoperaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="wsoperaciones" targetNamespace="http://ws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ServicioWebSoap/wsoperaciones?xsd=1" namespace="http://ws/" />
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="ProcesarPago">
    <part name="parameters" element="tns:ProcesarPago" />
  </message>
  <message name="ProcesarPagoResponse">
    <part name="parameters" element="tns:ProcesarPagoResponse" />
  </message>
  <message name="Loggin">
    <part name="parameters" element="tns:Loggin" />
  </message>
  <message name="LogginResponse">
    <part name="parameters" element="tns:LogginResponse" />
  </message>
  <portType name="wsoperaciones">
    <operation name="hello">
      <input wsam:Action="http://ws/wsoperaciones/helloRequest" message="tns:hello" />
      <output wsam:Action="http://ws/wsoperaciones/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="ProcesarPago">
      <input wsam:Action="http://ws/wsoperaciones/ProcesarPagoRequest" message="tns:ProcesarPago" />
      <output wsam:Action="http://ws/wsoperaciones/ProcesarPagoResponse" message="tns:ProcesarPagoResponse" />
    </operation>
    <operation name="Loggin">
      <input wsam:Action="http://ws/wsoperaciones/LogginRequest" message="tns:Loggin" />
      <output wsam:Action="http://ws/wsoperaciones/LogginResponse" message="tns:LogginResponse" />
    </operation>
  </portType>
  <binding name="wsoperacionesPortBinding" type="tns:wsoperaciones">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ProcesarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Loggin">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="wsoperaciones">
    <port name="wsoperacionesPort" binding="tns:wsoperacionesPortBinding">
      <soap:address location="http://localhost:8080/ServicioWebSoap/wsoperaciones" />
    </port>
  </service>
</definitions>